.table{
    padding-left: 100px;
    margin-right: 300px;
   align-content: center;
}
.my-form{
    width: 100%;
  }
   
  .full-width {
    width: 100%;

  }

  .my-card{
    
    border-style: double;
   
   } 
 
   