.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    border-right: 100px;
    width: 100%;
  }

  /* .my-card{
    
    border-style: dotted;
   
   }  */
 